$section1-background: #1f2937;
$main-colour: #3882f6;
$secondary-colour: #f9faf8;
$font-colour: #e5e7eb;

table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

thead {
  background-color: $main-colour;
  font-weight: bold;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: $secondary-colour;
}

tr:hover {
  background-color: #ddd;
}

td:last-child {
  white-space: nowrap;
}

td:last-child:before {
  content: "\f05a";
  font-family: FontAwesome;
  margin-right: 5px;
}

td:last-child:hover:before {
  color: $main-colour;
}
